.container{
    background-image: url("texture/snow.png");
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}
.header {
  height: 100px;
  width: 100%;
  background-color: #8b4c8b;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.header img {
  width: 60%;
  max-width: 750px;
  padding: 10px 10px 10px 10px;
}
#title {
  color: rgb(255, 255, 255);
  font-size: 50px;
}
.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
#citycolumn {
  background-color: #dadada;
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 10px 10px;
}
#citysearch {
  border-radius: 5px;
  border: 1px solid black;
  height: 35px;
  width: 75%;
}
#searchicon {
  background-color: skyblue;
  border-radius: 10px;
  padding: 7px 10px 7px 10px;
  margin: 5px 17px 5px 5px;
}
#citylist {
  border-radius: 5px;
  width: 250px;
  border: 1px solid black;
}
.city {
font-size: medium;
font-weight: bold;
  height: 60px;
  width: 75%;
  margin: 0px 0px 8px 0px;
  padding: 15px 15px 15px 15px;
  background-color: #cfffff;
  border-radius: 5px;
  border: 1px none black;
  clear: left;
/* -webkit-box-shadow: 5px 5px 0px 0px #000000, 10px 10px 0px 0px #FFFFFF;  */
box-shadow: 3px 3px 0px 0px #000000, 5px 5px 0px 0px #FFFFFF;
}
.city:active{
    background-color: #9ce9e9;
    transform: translateY(2px);
}

#rightside {
  margin: 10px 10px 10px 10px;
}
#mainblock {
  height: 300px;
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
#UVline {
  margin-left: 0px;
}
#UV {
  border-radius: 10px;
  padding: 15px;
  margin: 5px 17px 5px 5px;
}
#fiveday {
  margin: 10px 10px 10px 10px;
}
.forecastCard {
  color: rgb(0, 0, 0);
  height: 200px;
  width: 150px;
  border-radius: 5px;
  margin: 5px 17px 5px 17px;
  padding: 5px 0px 10px 10px;

  background-image: url("texture/dust.png");
  background-color: rgba(255, 249, 249, 0.5);
  background-blend-mode: lighten;

  -webkit-box-shadow: -1px -1px 3px 2px #FEBCC2, 1px -1px 3px 2px #FFD8B6,
  1px 1px 3px 2px #FDFEC9, -1px 1px 3px 2px #C7FCBA,
  1px -1px 3px 3px #C2CBFF, 0px 0px 2px 4px #C1A7FF;
  box-shadow: -1px -1px 3px 2px #FEBCC2, 1px -1px 3px 2px #FFD8B6,
    1px 1px 3px 2px #FDFEC9, -1px 1px 3px 2px #C7FCBA,
    1px -1px 3px 3px #C2CBFF, 0px 0px 2px 4px #C1A7FF;
}
#footHero img{
    width: 100%;
    max-width: 900px;
    margin: 0px 0px 50px 0px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(61, 61, 61);
  color: rgb(175, 175, 175);
  text-align: center;
  color: rgb(175, 175, 175);
}
.fa-github {
  background: rgb(61, 61, 61);
  color: white;
  width: 30px;
}
a {
  text-decoration: none;
  color: rgb(175, 175, 175);
  border-radius: 3px;
  padding: 3px 1px 3px 1px;
}
a:hover {
  background-color: rgb(170, 207, 255);
}
.footer p {
  background-color: rgb(61, 61, 61);
  margin-top: 15px;
}

@media screen and (max-width: 928px) {
  .header {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  #title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .header img {
    width: 85%;
  }

}
@media screen and (max-width: 600px) {
    .header img {
        width: 100%;
      }
}
@media screen and (max-width: 360px) {
    .header img {
        width: 100%;
      }
}