/* https://www.schemecolor.com/from-a-glass-window.php */
/* purple: 655E95
beige: F4E7AC
aqua: 96C1B1
lite blue: 68A2B0
deep blue: 417492 */
.container {
  background-image: url("texture/snow.png");
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
#bigcity,
#clockbox,
#fiveday h2 {
  font-size: 20px;
}
.header {
  height: 100px;
  width: 100%;
  background-color: #655e95;
  font-family: "Roboto Slab", serif;
  text-align: center;
  z-index: 1;
}
.header img {
  width: 60%;
  max-width: 750px;
  margin: 10px 10px 10px 10px;
}
#title {
  color: rgb(255, 255, 255);
  font-size: 50px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 102px;
}
#desktopCityColumn {
  background: rgb(218, 218, 218, 0.4);
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 10px 10px;
}
#hero {
  width: 100%;
  max-width: 900px;
}
#desktopCityColumn p {
  font-size: small;
  margin: 5px 5px 5px 8px;
}
#mobileHistoryDiv {
  /* display: none; */
  margin: 0px 0px 15px 15px;
}
#citySearchLabel {
  font-size: 20px;
}
#citysearch {
  border: 1px solid black;
  height: 35px;
  width: 160px;
  margin: 5px 5px 5px 8px;
}
#searchicon {
  background-color: #68a2b0;
  border-radius: 10px;
  padding: 7px 10px 7px 10px;
  margin: 5px 17px 5px 5px;
}
#citylist {
  border-radius: 5px;
  width: 250px;
  border: 1px solid black;
}
.city {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 100%;
  margin: 3px 0px 5px 0px;
  padding: 15px 15px 15px 15px;
  background-color: #5398b3;
  border: 1px none black;
  clear: left;
  display: block;
  /* -webkit-box-shadow: 5px 5px 0px 0px #000000, 10px 10px 0px 0px #FFFFFF;  */
  box-shadow: 3px 3px 0px 0px #000000, 5px 5px 0px 0px #ffffff;
}
.city:active {
  background-color: #3b6f8d;
  transform: translateY(2px);
}
.mobileCity {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #5398b3;
  clear: left;
}
.mobileCity:active {
  background-color: #3b6f8d;
  transform: translateY(2px);
}
#mainblock {
  height: 275px;
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
#UVline {
  margin-left: 0px;
}
#UV {
  border-radius: 10px;
  padding: 15px;
  margin: 5px 17px 5px 5px;
}
#fiveday {
  margin: 10px 10px 10px 10px;
}
.forecastCard {
  color: rgb(0, 0, 0);
  height: 200px;
  width: 150px;
  border-radius: 5px;
  margin: 5px 17px 15px 17px;
  padding: 5px 0px 10px 10px;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  background-color: rgba(255, 249, 249, 0.5);
  background-blend-mode: lighten;

  -webkit-box-shadow: -1px -1px 3px 2px #febcc2, 1px -1px 3px 2px #ffd8b6,
    1px 1px 3px 2px #fdfec9, -1px 1px 3px 2px #c7fcba, 1px -1px 3px 3px #c2cbff,
    0px 0px 2px 4px #c1a7ff;
  box-shadow: -1px -1px 3px 2px #febcc2, 1px -1px 3px 2px #ffd8b6,
    1px 1px 3px 2px #fdfec9, -1px 1px 3px 2px #c7fcba, 1px -1px 3px 3px #c2cbff,
    0px 0px 2px 4px #c1a7ff;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(61, 61, 61);
  color: rgb(175, 175, 175);
  text-align: center;
}
.fa-github {
  background: rgb(61, 61, 61);
  color: white;
  width: 30px;
}
a {
  text-decoration: none;
  color: rgb(175, 175, 175);
  border-radius: 3px;
  padding: 3px 1px 3px 1px;
}
.footer a:hover,
.footer i:hover {
  background-color: #68a2b0;
}
.footer p {
  margin-top: 5px;
}
@media screen and (max-width: 1242px) {
  #mobileHistoryDiv {
    display: block;
  }
  #desktopHistory {
    display: none;
  }
  #desktopCityColumn {
    width: 100%;
  }
}
@media screen and (max-width: 928px) {
  .header {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  #title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .header img {
    margin: 20px 10px 10px 10px;
    width: 85%;
  }
  .forecastCard {
    color: rgb(0, 0, 0);
    height: 200px;
    width: 66%;
    border-radius: 5px;
    margin: 5px 17px 5px 17px;
    padding: 5px 0px 10px 10px;
    background-image: url("https://www.transparenttextures.com/patterns/dust.png");
    background-color: rgba(255, 249, 249, 0.5);
    background-blend-mode: lighten;

    -webkit-box-shadow: -1px -1px 3px 2px #febcc2, 1px -1px 3px 2px #ffd8b6,
      1px 1px 3px 2px #fdfec9, -1px 1px 3px 2px #c7fcba,
      1px -1px 3px 3px #c2cbff, 0px 0px 2px 4px #c1a7ff;
    box-shadow: -1px -1px 3px 2px #febcc2, 1px -1px 3px 2px #ffd8b6,
      1px 1px 3px 2px #fdfec9, -1px 1px 3px 2px #c7fcba,
      1px -1px 3px 3px #c2cbff, 0px 0px 2px 4px #c1a7ff;
  }
}
@media screen and (max-width: 600px) {
  .header img {
    margin: 25px 10px 10px 10px;
    width: 90%;
  }
  .forecastCard {
    margin: 5px 17px 15px 17px;
  }
}
@media screen and (max-width: 400px) {
  .header img {
    margin: 30px 10px 10px 10px;
  }
  #mainblock {
    height: 315px;
  }
}
