.forecastCard {
    color: rgb(0, 0, 0);
    height: 200px;
    width: 150px;
    border-radius: 5px;
    margin: 5px 17px 5px 17px;
    padding: 5px 0px 10px 10px;
  
    background-image: url("https://www.transparenttextures.com/patterns/dust.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */    
    background-color: rgba(255, 249, 249, 0.5);
    background-blend-mode: lighten;
  
    -webkit-box-shadow: -1px -1px 3px 2px #febcc2, 1px -1px 3px 2px #ffd8b6,
      1px 1px 3px 2px #fdfec9, -1px 1px 3px 2px #c7fcba, 1px -1px 3px 3px #c2cbff,
      0px 0px 2px 4px #c1a7ff;
    box-shadow: -1px -1px 3px 2px #febcc2, 1px -1px 3px 2px #ffd8b6,
      1px 1px 3px 2px #fdfec9, -1px 1px 3px 2px #c7fcba, 1px -1px 3px 3px #c2cbff,
      0px 0px 2px 4px #c1a7ff;
}
#fiveday {
    margin: 10px 10px 10px 10px;
}